---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Info" nextPage="/">
  <div class="text-center mt-48 text-xl">
    <p class="mt-8">14th June 2025</p>
    <p class="mt-8">Widemouth Bay, Cornwall</p>
    <p class="mt-96">More info to come...</p>
  </div>
</Layout>
