---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Info" nextPage="/">
  <div
    class="text-center flex flex-col justify-around h-full text-2xl sm:text-4xl"
  >
    <div>
      <p>14th June 2025</p>
      <p class="mt-8">Widemouth Bay, Cornwall</p>
    </div>
    <p>More info to come...</p>
  </div>
</Layout>
