---
import { Image } from "astro:assets";
import border from "../images/border.png";

interface Props {
  href: string;
}

const { href } = Astro.props;

const duration = "0.6s";
const rotate = {
  old: {
    name: "spinOut",
    duration,
    easing: "ease-in",
  },
  new: {
    name: "spinIn",
    duration,
    delay: duration,
    easing: "ease-out",
  },
};
---

<a
  href={href}
  transition:animate={{ forwards: rotate, backwards: rotate }}
  class="h-5/6 aspect-[1230/2000] p-3 rounded-lg hover:animate-spin-tease drop-shadow-lg bg-black"
>
  <Image src={border} alt="" class="absolute -m-3 w-full h-full" />
  <div class="bg-white w-full h-full">
    <slot />
  </div>
</a>
