---
import { type Row } from "../utils";
import AccomodationPreference from "./AccomodationPreference.astro";

interface Props {
  people: Row[];
}

const { people } = Astro.props;

const { accommodation } = people.find((p) => !!p.accommodation) || {};
const stayingWithUs = !!accommodation;
const accommodationIsSet = !!accommodation?.includes(".");
---

{
  people.every((p) => p.attending == "no") ? (
    <div class="p-24">
      Sad to miss you! Lots of love and hope to see you soon!
    </div>
  ) : !people.some((p) => p.attending == "yes") ? (
    <div class="h-96" />
  ) : (
    <>
      {stayingWithUs && (
        <section class="m-2 flex flex-col rounded p-2">
          <h2 class="text-lg font-bold">Accomodation</h2>
          {accommodationIsSet ? (
            <>You're down to stay in: {accommodation}</>
          ) : (
            <AccomodationPreference currentValue={people[0]?.accommodation} />
          )}
        </section>
      )}

      <hr class="m-2" />

      {/* <!-- LOCATION INFO  --> */}

      <section class="m-2 rounded p-2">
        <h2 class="text-lg font-bold">Location</h2>
        <div class="grid grid-cols-2">
          <div class="flex flex-col justify-center">
            <p>
              <a
                href="https://maps.app.goo.gl/Uac833vJFLPrjVB67"
                target="_blank"
                class="font-bold underline"
              >
                OA Surf Club,
              </a>
              <br /> Atlantic Court, Widemouth Bay, Cornwall, EX23 0DF
            </p>
          </div>
          <div class="">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10089.620279026898!2d-4.569662926881236!3d50.786601196530285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486c77bce0d2d9ff%3A0x24f9b527d994a22f!2sOA%20Surf%20Club%20-%20Accommodation%2C%20Widemouth%20Bay%2C%20Bude%2C%20Cornwall!5e0!3m2!1sen!2suk!4v1726951071494!5m2!1sen!2suk"
              class="h-[200%] w-[200%] origin-top-left scale-50 rounded-lg"
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            />
          </div>
        </div>
      </section>

      <hr class="m-2" />

      {/* <!-- TIMING INFO  --> */}

      <section class="m-2 rounded p-2">
        <h2 class="text-lg font-bold">Timetable</h2>
        <p>
          More to be announced closer to the time, but festivities will be
          occurring throughout the weekend:
        </p>
        <ul class="m-2 list-inside list-disc">
          {stayingWithUs ? (
            <>
              <li>
                Friday evening - will probably have a takeout and beers on the
                beach
              </li>
              <li>Saturday morning - hike/surf/hangout</li>
              <li>Saturday lunch - mega pasty order</li>
            </>
          ) : (
            <li>Saturday 3pm - welcome</li>
          )}
          <li>Saturday 4pm(ish) - ceremony</li>
          <li>Saturday 5:30 - dinner</li>
          <li>Saturday 7:30 - ceileidh</li>
          <li>Saturday 9pm - disco</li>
        </ul>
      </section>
    </>
  )
}
