---
import RsvpForm from "../../components/RsvpForm.astro";
import RsvpInfo from "../../components/RsvpInfo.astro";
import Layout from "../../layouts/Layout.astro";
import { getRowsFromCode, handleUpdateForm } from "../../utils";

const { code } = Astro.params;
if (!code || typeof code !== "string") {
  return Astro.redirect("/rsvp");
}

if (Astro.request.method === "POST") {
  console.log("RSVP POST Received", code);
  const formData = await Astro.request.formData();

  await handleUpdateForm(formData);
}

const people = await getRowsFromCode(code);
if (!people?.length) {
  return new Response(
    "Sorry something has gone wrong, please send Luke a message."
  );
}
---

<script define:vars={{ people }}>
  console.log(JSON.stringify(people, null, 2));
</script>

<Layout>
  <div class="flex h-full flex-col justify-around overflow-scroll">
    <h1 class="pr-2 text-center text-2xl font-bold">RSVP</h1>
    <RsvpForm people={people} />
    <hr />
    <RsvpInfo people={people} />
  </div>
</Layout>
