---
interface Props {
  title?: string;
  nextPage: string;
}

const { title, nextPage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Luke & Marnie are getting Married on the 14th June 2025."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Luke & Marnie's wedding {title ? ` - ${title}` : null}</title>
  </head>
  <body
    class="p-4 md:p-8 lg:p-16 bg-green-800 flex items-center justify-center h-svh w-screen"
  >
    <a
      href={nextPage}
      class="max-h-full w-full sm:w-auto sm:h-full aspect-[1220/2000] p-2 rounded-lg border-2
        border-black bg-white"
    >
      <slot />
    </a>
  </body>
</html>
